@import url(//fonts.googleapis.com/css?family=Lobster);
html,
body {
  font-family: Helvetica, cursive;
  background: url(/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #5E5E5E;
  font-size: 24px;
}

a {
  color: #fff;
  text-decoration: underline;
}

.intro {
  font-size: 20px;
  color: #fff;
  padding: 20px;
  text-align: right;
  background: rgba(0, 0, 0, 0.3);
}

.title-container {
  text-align: center;
  margin: 50px;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.cart-container {
}

.cart-section {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-bottom: 20px;
}

.products {
}

.product {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  width: 236px;
}

.product-image {
  width: 196px;
  height: 150px;
}

.quantity {
}

.raw-price-section {
  background: rgba(29, 104, 144, 0.8);
  color: #FFF;
  padding: 20px;
  margin-bottom: 20px;
}

.raw-price {
  text-align: center;
  font-size: 32px;
}

.actual-price-section {
  background: rgba(154, 76, 18, 0.8);
  color: #FFF;
  padding: 20px;
  margin-bottom: 20px;
}

footer {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 20px;
}
